<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClickHouseMapper">

	<select id="selectNow123" resultType= "Map">
		SELECT now() now
	</select>

	<update id="viewClickDataInsert" parameterType = "Map">
	 INSERT INTO default.MOB_AD_GRP_STATS (
		STATS_DTTM , STATS_HH ,PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO , SITE_CODE, ADVER_ID, MEDIA_SCRIPT_NO , FRAME_ID, ALGM_SEQ, 
		MOBON_AD_GRP_ID,  AD_GRP_IMG_COPY_CODE,  AD_GRP_TP_CODE, TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, REG_USER_ID
		) VALUES
	 <foreach  collection="list" item='I' separator=" , ">
	 (
	    ${I.yyyymmdd},
	    #{I.hh},
	    #{I.platformCode}, 
	    #{I.productCode}, 
	    #{I.adGubun},
	    #{I.interlock},
	    #{I.kpiNo},
	    #{I.siteCode},
	    #{I.advertiserId},
	    #{I.scriptNo},
	    #{I.frameId},
	    #{I.frameSelector},
	    #{I.grpId},
	    #{I.subjectCopyTpCode},
	    #{I.grpTpCode},
	    #{I.viewCnt},
	    #{I.viewCnt3},
	    <choose>
	        <when test="I.clickCnt == null or I.clickCnt == 0 ">
	            <choose>
	                <when test="I.product=='03'">#{I.viewCnt}</when>
	                <otherwise>0</otherwise>
	            </choose>
	        </when>
	        <otherwise>#{I.clickCnt}</otherwise>
	    </choose>,
	    #{I.point},
		#{I.regUserId}
	 )
	 </foreach>
	 ;
	</update>
	
	
	<update id = "conversionInsert" parameterType="Map">
	INSERT INTO default.MOB_AD_GRP_STATS ( 
	 STATS_DTTM, STATS_HH, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE , KPI_NO , SITE_CODE, ADVER_ID, MEDIA_SCRIPT_NO , FRAME_ID, ALGM_SEQ,
	 MOBON_AD_GRP_ID,  AD_GRP_IMG_COPY_CODE,  AD_GRP_TP_CODE,
	 DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN, 
	 ORDER_CNT , ORDER_AMT, ORDER_QY
	) VALUES
	<foreach collection="list" item='I'  separator=" , "> 	
	 (
	  ${I.yyyymmdd}, #{I.hh},#{I.platformTpCode}, #{I.advrtsPrdtCode}, #{I.advrtsTpCode},#{I.itlTpCode}, #{I.kpiNo}, #{I.siteCode}, #{I.adverId}, #{I.mediaScriptNo}, #{I.frameId}, #{I.frameSelector},
	 #{I.grpId}, #{I.subjectCopyTpCode}, #{I.grpTpCode},
	 #{I.directYn}, #{I.sesionSelngYn}, #{I.sesionSelng2Yn}, #{I.mobOrderYn}, #{I.orderCnt}, #{I.orderAmt}, #{I.orderQy}
	)
	</foreach>
	;
	</update>
	
	<update id="migrationClickHouse" parameterType="Map">
	INSERT INTO default.MOB_AD_GRP_SUM_STATS ( 
	 STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE , KPI_NO , SITE_CODE, ADVER_ID, MEDIA_SCRIPT_NO , 
	 MOBON_AD_GRP_ID,  AD_GRP_IMG_COPY_CODE,  AD_GRP_TP_CODE,
	 DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN, 
	 TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, ORDER_CNT , ORDER_AMT, ORDER_QY
	) SELECT * FROM  
	(
	SELECT STATS_DTTM ,PLTFOM_TP_CODE , ADVRTS_PRDT_CODE , ADVRTS_TP_CODE , ITL_TP_CODE , KPI_NO , SITE_CODE , ADVER_ID, MEDIA_SCRIPT_NO , 
	MOBON_AD_GRP_ID, AD_GRP_IMG_COPY_CODE, AD_GRP_TP_CODE,
	DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN 
	, sum(TOT_EPRS_CNT) as  TOT_EPRS_CNT, sum(PAR_EPRS_CNT) as PAR_EPRS_CNT ,sum(CLICK_CNT) as CLICK_CNT , SUM(ADVRTS_AMT) AS ADVRTS_AMT, SUM(ORDER_CNT) AS ORDER_CNT , SUM(ORDER_AMT) AS ORDER_AMT , SUM(ORDER_QY) AS ORDER_QY
	FROM default.MOB_AD_GRP_STATS mags 
	WHERE REG_DTTM BETWEEN #{startTime} AND #{endTime}
	GROUP BY STATS_DTTM , PLTFOM_TP_CODE , ADVRTS_PRDT_CODE , ADVRTS_TP_CODE , ITL_TP_CODE , KPI_NO , SITE_CODE , ADVER_ID, MEDIA_SCRIPT_NO , MOBON_AD_GRP_ID , AD_GRP_TP_CODE , AD_GRP_IMG_COPY_CODE , DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN 
	) S	
	</update>
	
	<update id="migrationClickConvSumMigration" parameterType="Map">
	INSERT INTO default.MOB_AD_GRP_SUM_STATS ( 
	 STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE , KPI_NO , SITE_CODE, ADVER_ID, MEDIA_SCRIPT_NO , 
	 MOBON_AD_GRP_ID,  AD_GRP_IMG_COPY_CODE,  AD_GRP_TP_CODE,
	 DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN, 
	 TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, ORDER_CNT , ORDER_AMT, ORDER_QY
	) SELECT * FROM  
	(
	SELECT STATS_DTTM ,PLTFOM_TP_CODE , ADVRTS_PRDT_CODE , ADVRTS_TP_CODE , ITL_TP_CODE , KPI_NO , SITE_CODE , ADVER_ID, MEDIA_SCRIPT_NO , 
	MOBON_AD_GRP_ID, AD_GRP_IMG_COPY_CODE, AD_GRP_TP_CODE,
	DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN 
	, sum(TOT_EPRS_CNT) as  TOT_EPRS_CNT, sum(PAR_EPRS_CNT) as PAR_EPRS_CNT ,sum(CLICK_CNT) as CLICK_CNT , SUM(ADVRTS_AMT) AS ADVRTS_AMT, SUM(ORDER_CNT) AS ORDER_CNT , SUM(ORDER_AMT) AS ORDER_AMT , SUM(ORDER_QY) AS ORDER_QY
	FROM default.MOB_AD_GRP_STATS mags 
	WHERE STATS_DTTM = #{STATS_DTTM}
	AND STATS_HH = #{STATS_HH}
	GROUP BY STATS_DTTM , PLTFOM_TP_CODE , ADVRTS_PRDT_CODE , ADVRTS_TP_CODE , ITL_TP_CODE , KPI_NO , SITE_CODE , ADVER_ID, MEDIA_SCRIPT_NO , MOBON_AD_GRP_ID , AD_GRP_TP_CODE , AD_GRP_IMG_COPY_CODE , DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN 
	) S	
	</update>
	
	<update id="migrationFrmeClickHouse" parameterType="Map">
	INSERT INTO default.FRME_AD_GRP_SUM_HH_STATS ( 
	 STATS_DTTM, STATS_HH ,PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE , KPI_NO , SITE_CODE, ADVER_ID, MEDIA_SCRIPT_NO , FRAME_ID, ALGM_SEQ,
	 MOBON_AD_GRP_ID,  AD_GRP_IMG_COPY_CODE,  AD_GRP_TP_CODE,
	 DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN, 
	 TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, ORDER_CNT , ORDER_AMT, ORDER_QY
	) SELECT * FROM  
	(
	SELECT STATS_DTTM, STATS_HH ,PLTFOM_TP_CODE , ADVRTS_PRDT_CODE , ADVRTS_TP_CODE , ITL_TP_CODE , KPI_NO , SITE_CODE , ADVER_ID, MEDIA_SCRIPT_NO , FRAME_ID, toInt32OrZero(ALGM_SEQ) AS ALGM_SEQ,
	MOBON_AD_GRP_ID, AD_GRP_IMG_COPY_CODE, AD_GRP_TP_CODE,
	DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN 
	, sum(TOT_EPRS_CNT) as  TOT_EPRS_CNT, sum(PAR_EPRS_CNT) as PAR_EPRS_CNT ,sum(CLICK_CNT) as CLICK_CNT , SUM(ADVRTS_AMT) AS ADVRTS_AMT, SUM(ORDER_CNT) AS ORDER_CNT , SUM(ORDER_AMT) AS ORDER_AMT , SUM(ORDER_QY) AS ORDER_QY
	FROM default.MOB_AD_GRP_STATS mags 
	WHERE REG_DTTM BETWEEN #{startTime} AND #{endTime}
 	AND FRAME_ID != ''
 	AND AD_GRP_TP_CODE = '02'
	GROUP BY STATS_DTTM, STATS_HH , PLTFOM_TP_CODE , ADVRTS_PRDT_CODE , ADVRTS_TP_CODE , ITL_TP_CODE , KPI_NO , SITE_CODE , ADVER_ID, MEDIA_SCRIPT_NO, FRAME_ID, ALGM_SEQ, MOBON_AD_GRP_ID , AD_GRP_TP_CODE , AD_GRP_IMG_COPY_CODE , DIRECT_YN , SESION_SELNG_YN , SESION_SELNG2_YN , MOB_ORDER_YN 
	) S	
	</update>
	
		<update id="migrationUniqueClickHouse" parameterType="List">
	INSERT INTO default.MOB_CAMP_MEDIA_UNIQCLICK_RENEW_STATS
	( STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, IP, SITE_CODE, ITL_TP_CODE, 
	ADVER_ID, UNIQUE_CNT, TOT_CLICK_CNT, ADVRTS_AMT, TRGT_CLICK_CNT, TRGT_ADVRTS_AMT, REG_DTTM)
	VALUES
	<foreach  collection="list" item='I' separator=" , ">
	(
	${I.STATS_DTTM},
	#{I.PLTFOM_TP_CODE},
	#{I.ADVRTS_PRDT_CODE},
	#{I.ADVRTS_TP_CODE},
	#{I.IP},
	#{I.SITE_CODE},
	#{I.ITL_TP_CODE},
	#{I.ADVER_ID},
	#{I.UNIQUE_CNT},
	#{I.TOT_CLICK_CNT},
	#{I.ADVRTS_AMT},
	#{I.TRGT_CLICK_CNT},
	#{I.TRGT_ADVRTS_AMT},
	#{I.REG_DTTM}	
	)
	</foreach>
	;
	</update>
	<update id="adverGrpSumStats">
		INSERT INTO default.MOB_AD_GRP_ADVER_SUM_STATS
		(
		STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO, SITE_CODE
		, ADVER_ID, MOBON_AD_GRP_ID, AD_GRP_TP_CODE, AD_GRP_IMG_COPY_CODE,
		DIRECT_YN, SESION_SELNG_YN, SESION_SELNG2_YN, MOB_ORDER_YN,
		TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, ORDER_CNT, ORDER_AMT, ORDER_QY
		)
		SELECT * FROM (
		SELECT STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO, SITE_CODE
		, ADVER_ID, MOBON_AD_GRP_ID, AD_GRP_TP_CODE, AD_GRP_IMG_COPY_CODE,
		DIRECT_YN, SESION_SELNG_YN, SESION_SELNG2_YN, MOB_ORDER_YN
		,sum(TOT_EPRS_CNT) as TOT_EPRS_CNT
		,sum(PAR_EPRS_CNT) AS PAR_EPRS_CNT
		,sum(CLICK_CNT) AS CLICK_CNT
		,sum(ADVRTS_AMT) AS ADVRTS_AMT
		,sum(ORDER_CNT) AS ORDER_CNT
		,sum(ORDER_AMT) AS ORDER_AMT
		,sum(ORDER_QY) AS  ORDER_QY
		FROM default.MOB_AD_GRP_SUM_STATS magss
		WHERE toDate(REG_DTTM) = toDate(subtractDays(now(),1))
		GROUP BY STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO, SITE_CODE, ADVER_ID, MOBON_AD_GRP_ID
		, AD_GRP_TP_CODE, AD_GRP_IMG_COPY_CODE, DIRECT_YN, SESION_SELNG_YN, SESION_SELNG2_YN, MOB_ORDER_YN
		) AS A
	</update>

	<update id="adverGrpSumStatsMigration" parameterType="Map">
		INSERT INTO default.MOB_AD_GRP_ADVER_SUM_STATS
		(
		STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO, SITE_CODE
		, ADVER_ID, MOBON_AD_GRP_ID, AD_GRP_TP_CODE, AD_GRP_IMG_COPY_CODE,
		DIRECT_YN, SESION_SELNG_YN, SESION_SELNG2_YN, MOB_ORDER_YN,
		TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, ORDER_CNT, ORDER_AMT, ORDER_QY
		)
		SELECT * FROM (
		SELECT STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO, SITE_CODE
		, ADVER_ID, MOBON_AD_GRP_ID, AD_GRP_TP_CODE, AD_GRP_IMG_COPY_CODE,
		DIRECT_YN, SESION_SELNG_YN, SESION_SELNG2_YN, MOB_ORDER_YN
		,sum(TOT_EPRS_CNT) as TOT_EPRS_CNT
		,sum(PAR_EPRS_CNT) AS PAR_EPRS_CNT
		,sum(CLICK_CNT) AS CLICK_CNT
		,sum(ADVRTS_AMT) AS ADVRTS_AMT
		,sum(ORDER_CNT) AS ORDER_CNT
		,sum(ORDER_AMT) AS ORDER_AMT
		,sum(ORDER_QY) AS  ORDER_QY
		FROM default.MOB_AD_GRP_SUM_STATS magss
		WHERE toDate(REG_DTTM) = toDate(subtractDays(now(),#{diffDay}))
		GROUP BY STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, ITL_TP_CODE, KPI_NO, SITE_CODE, ADVER_ID, MOBON_AD_GRP_ID
		, AD_GRP_TP_CODE, AD_GRP_IMG_COPY_CODE, DIRECT_YN, SESION_SELNG_YN, SESION_SELNG2_YN, MOB_ORDER_YN
		) AS A
	</update>

	<select id="selectActionRenewLogData" parameterType="Map" resultType="Map">
		SELECT
		MOBON_AD_GRP_ID_I,
		AD_GRP_TP_CODE_I,
		IMG_TP_CODE,
		MOBON_AD_GRP_ID_C,
		AD_GRP_TP_CODE_C,
		CP_TP_CODE,
		ADVRTS_STLE_TP_CODE
		FROM default.ACTION_RENEW_LOG arl
		WHERE IP IN
			<foreach collection="keyIp" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		AND ADVER_ID  = #{advertiserId}
		and PAR_NO  = #{scriptNo}
		AND SITE_CODE  = #{siteCode}
		AND ADVRTS_TP_CODE  = #{adGubun}
		AND UNEXPOSURE_YN  = 'N'
		and ADVRTS_TP_CODE = '47'
		AND ADVRTS_PRDT_CODE  = '01'
		AND STATS_DTTM  <![CDATA[ >= ]]> #{yyyymmdd}
		AND STATS_DTTM  <![CDATA[<=]]>  #{origin_yyyymmdd}
		ORDER BY REG_DTTM DESC
		LIMIT 1;
	</select>
</mapper>