<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="billingMapper">

	<select id="getCurrentData" resultType="Map">
		SELECT 1 id
	</select>
	
	<select id="chkingBeforeHourData" resultType="Map">
		/* SELECT : SITE_CODE, ADGUBUN 잘못들어온거있나? */
		SELECT SITE_CODE, CNT FROM (
			SELECT SITE_CODE, COUNT(1) CNT FROM (
				select ADVRTS_TP_CODE, SITE_CODE 
					FROM MOB_CAMP_HH_STATS A JOIN (SELECT DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 HOUR),'%Y%m%d') STATS_DTTM, DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 HOUR),'%H') STATS_HH) B
						ON A.STATS_DTTM=B.STATS_DTTM AND A.STATS_HH=B.STATS_HH
					GROUP BY ADVRTS_TP_CODE, SITE_CODE
			)A 
			GROUP BY SITE_CODE
			HAVING COUNT(1)>1
		)A
	</select>

	<select id="selectChkingBatchRuningTime" resultType="Map">
		/* SELECT : 빌링 컨슈머배치 지연시간 확인 */
		SELECT now() now
			, TYPE, A.LAST_EXE_TIME, CASE WHEN A.LAST_EXE_TIME > DATE_ADD(NOW(), INTERVAL (CASE WHEN TYPE='D' THEN 60 ELSE 20 END)*-1 MINUTE) THEN 'DELAY' ELSE 'OK' END CHKING_STATS			
		FROM 
		(
			SELECT  TYPE, MAX(last_exe_time) AS LAST_EXE_TIME
			  FROM BILLING.`MOB_BATCH_EXE_HIS`			   
			 WHERE 1=1
			   AND stats_dttm = DATE_FORMAT(NOW(),'%Y%m%d')
			   AND TYPE IN ('H','D')
			 GROUP BY TYPE
		) A
		GROUP BY TYPE
	</select>

	<select id="selectReportCtr" resultType="Map">
		/* SELECT : CTR 전일 누적, 전일 전시간 */
		SELECT now() now
			, 'alam1' is_alam, DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 HOUR),'%H')hh
			, aaa.sdate bdate, bbb.sdate tdate, FORMAT(aaa.viewcnt2,0)viewcnt2, FORMAT(aaa.clickcnt,0)clickcnt
			, FORMAT(bbb.viewcnt2,0) this_viewcnt2, FORMAT(bbb.clickcnt,0) this_clickcnt
			, FORMAT(aaa.ctr1,2) ctr, FORMAT(bbb.ctr2,2) this_ctr
			, FORMAT((bbb.ctr2/aaa.ctr1)*100,2)ctr_pct
			, CASE WHEN FORMAT((bbb.ctr2/aaa.ctr1)*100,2) BETWEEN 80 AND 120 THEN 'none' ELSE (CASE WHEN aaa.clickcnt>0 THEN 'alam' ELSE 'none' END) END alam
			, FORMAT((bbb.viewcnt2/aaa.viewcnt2)*100,0)viewcnt_pct
			, CASE WHEN FORMAT((bbb.viewcnt2/aaa.viewcnt2)*100,0) BETWEEN 80 AND 200 THEN 'none' ELSE (CASE WHEN aaa.clickcnt>0 THEN 'alam' ELSE 'none' END) END viewcnt_pct2
		FROM (
			SELECT DATE_FORMAT(REG_DTTM, '%m/%d') sdate
				, a.STATS_HH TIME, DATE_FORMAT(NOW(),'%H') this_time
				, SUM(a.PAR_EPRS_CNT)viewcnt2
				, SUM(a.CLICK_CNT)clickcnt
				, (SUM(a.CLICK_CNT)/SUM(a.PAR_EPRS_CNT))*100 ctr1
			FROM BILLING.MOB_COM_HH_STATS_INFO a 
			WHERE STATS_DTTM = CAST(DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -25 HOUR),'%Y%m%d') AS UNSIGNED)
			             AND STATS_HH <![CDATA[ <= ]]> DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -25 HOUR),'%H')
		) aaa, (
			SELECT DATE_FORMAT(REG_DTTM, '%m/%d') sdate
				, a.STATS_HH TIME
				, SUM(a.PAR_EPRS_CNT)viewcnt2
				, SUM(a.CLICK_CNT)clickcnt
				, (SUM(a.CLICK_CNT)/SUM(a.PAR_EPRS_CNT))*100 ctr2
			FROM BILLING.MOB_COM_HH_STATS_INFO a 
			WHERE STATS_DTTM = CAST(DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 HOUR),'%Y%m%d') AS UNSIGNED)
			             AND STATS_HH <![CDATA[ <= ]]> DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 HOUR),'%H')
		) bbb
		UNION ALL
		SELECT NOW() NOW
			, 'alam2' is_alam, DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 HOUR),'%H')hh
			, aaa.sdate bdate, bbb.sdate tdate, FORMAT(aaa.viewcnt2,0)viewcnt2, FORMAT(aaa.clickcnt,0)clickcnt
			, FORMAT(bbb.viewcnt2,0) this_viewcnt2, FORMAT(bbb.clickcnt,0) this_clickcnt
			, FORMAT(aaa.ctr1,2) ctr, FORMAT(bbb.ctr2,2) this_ctr
			, FORMAT((bbb.ctr2/aaa.ctr1)*100,2)ctr_pct
			, CASE WHEN FORMAT((bbb.ctr2/aaa.ctr1)*100,2) BETWEEN 70 AND 130 THEN 'none' ELSE (CASE WHEN aaa.clickcnt>0 THEN 'alam' ELSE 'none' END) END alam
			, FORMAT((bbb.viewcnt2/aaa.viewcnt2)*100,0)viewcnt_pct
			, CASE WHEN FORMAT((bbb.viewcnt2/aaa.viewcnt2)*100,0) BETWEEN 80 AND 200 THEN 'none' ELSE (CASE WHEN aaa.clickcnt>0 THEN 'alam' ELSE 'none' END) END viewcnt_pct2
		FROM (
			SELECT DATE_FORMAT(REG_DTTM, '%m/%d') sdate
				, a.STATS_HH TIME, DATE_FORMAT(NOW(),'%H') this_time
				, SUM(a.PAR_EPRS_CNT)viewcnt2
				, SUM(a.CLICK_CNT)clickcnt
				, (SUM(a.CLICK_CNT)/SUM(a.PAR_EPRS_CNT))*100 ctr1
			FROM BILLING.MOB_COM_HH_STATS_INFO a 
			   WHERE STATS_DTTM = CAST(DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -25 HOUR),'%Y%m%d') AS UNSIGNED)
			             AND STATS_HH = DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -25 HOUR),'%H')
		) aaa, (
			SELECT DATE_FORMAT(REG_DTTM, '%m/%d') sdate
				, a.STATS_HH TIME
				, SUM(a.PAR_EPRS_CNT)viewcnt2
				, SUM(a.CLICK_CNT)clickcnt
				, (SUM(a.CLICK_CNT)/SUM(a.PAR_EPRS_CNT))*100 ctr2
			FROM BILLING.MOB_COM_HH_STATS_INFO a                 
			   WHERE STATS_DTTM = CAST(DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 HOUR),'%Y%m%d') AS UNSIGNED)
			             AND STATS_HH = DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 HOUR),'%H')
		) bbb
	</select>
	
	<select id="selectMediaChrgMonitor" resultType="Map">
		/* MEDIA_SCRIPT, MEDIA_CHRG : 차이 - 오늘을 제외한 -14 일까지 */
		SELECT A.*
			, CASE	
				WHEN IFNULL(CHRG_FOM_TP_CODE,'01')='01' AND DIFF_AMT!=0 THEN 'CLICK' 
				WHEN EPRS_REST_RATE=100 AND DIFF_PAR!=0 THEN 'PAR' 
				ELSE 'X' END ALARM
		FROM (
			SELECT MMCS.STATS_DTTM, MMCS.MEDIA_ID, MMCS.MEDIA_SCRIPT_NO, s.EPRS_REST_RATE, s.CHRG_FOM_TP_CODE
				, SUM(MMCS.PAR_EPRS_CNT)PAR, SUM(MMCS.CLICK_CNT)CLICK, SUM(MMCS.ADVRTS_AMT)P, SUM(MMCS.MEDIA_PYMNT_AMT)MP
				, SUM(MMSCS.PAR_EPRS_CNT)PAR2, SUM(MMSCS.CLICK_CNT)CLICK2, SUM(MMSCS.ADVRTS_AMT)P2, SUM(MMSCS.MEDIA_PYMNT_AMT)MP2
				, SUM(MMCS.PAR_EPRS_CNT-MMSCS.PAR_EPRS_CNT) DIFF_PAR, SUM(MMCS.CLICK_CNT-MMSCS.CLICK_CNT) DIFF_CLICK, SUM(MMCS.ADVRTS_AMT-MMSCS.ADVRTS_AMT) DIFF_AMT
			FROM (
				SELECT 'MEDIA_SCRIPT'G, STATS_DTTM, MEDIA_ID, MEDIA_SCRIPT_NO
					, SUM(TOT_EPRS_CNT)TOT_EPRS_CNT, SUM(PAR_EPRS_CNT)PAR_EPRS_CNT, SUM(CLICK_CNT) CLICK_CNT, SUM(ADVRTS_AMT) ADVRTS_AMT, SUM(MEDIA_PYMNT_AMT)MEDIA_PYMNT_AMT 
				FROM BILLING.MOB_MEDIA_SCRIPT_STATS
				WHERE STATS_DTTM BETWEEN CAST(DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -14 DAY),'%Y%m%d') AS UNSIGNED) AND CAST(DATE_FORMAT(NOW(),'%Y%m%d') AS UNSIGNED)
				GROUP BY STATS_DTTM, MEDIA_SCRIPT_NO
			) MMCS INNER JOIN (
				SELECT 'MEDIA_CHRG'G, STATS_DTTM, MEDIA_ID, MEDIA_SCRIPT_NO
					, SUM(TOT_EPRS_CNT)TOT_EPRS_CNT, SUM(PAR_EPRS_CNT)PAR_EPRS_CNT, SUM(CLICK_CNT) CLICK_CNT, SUM(ADVRTS_AMT) ADVRTS_AMT, SUM(MEDIA_PYMNT_AMT)MEDIA_PYMNT_AMT
				FROM BILLING.MOB_MEDIA_SCRIPT_CHRG_STATS
				WHERE STATS_DTTM BETWEEN CAST(DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -14 DAY),'%Y%m%d') AS UNSIGNED) AND CAST(DATE_FORMAT(NOW(),'%Y%m%d') AS UNSIGNED)
				GROUP BY STATS_DTTM, MEDIA_SCRIPT_NO
			) MMSCS 
			ON MMCS.STATS_DTTM=MMSCS.STATS_DTTM AND MMCS.MEDIA_SCRIPT_NO=MMSCS.MEDIA_SCRIPT_NO LEFT JOIN dreamsearch.media_script s ON MMCS.MEDIA_SCRIPT_NO=s.no
			WHERE ( MMCS.PAR_EPRS_CNT!=MMSCS.PAR_EPRS_CNT OR MMCS.CLICK_CNT!=MMSCS.CLICK_CNT OR MMCS.ADVRTS_AMT!=MMSCS.ADVRTS_AMT ) AND MMCS.STATS_DTTM!=DATE_FORMAT(NOW(),'%Y%m%d') 
			GROUP BY MMCS.STATS_DTTM, MMCS.MEDIA_SCRIPT_NO
		)A
		WHERE DATE_FORMAT(NOW(),'%H') NOT IN ('00','01','02','03','04','05','06','07','08');
	</select>
	
	<select id="selectFrameMonitor" resultType="Map">
		/* selectFrameMonitor : 일자별로 프레임데이타 확인용 */
		SELECT
			DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s') EXCUTE_DATE, MEDIA_SCRIPT_NO,  FRME_CODE, SUM(PAR_EPRS_CNT) view_cnt, SUM(click_cnt) click_cnt 
		FROM FRME_DAY_STATS 
		WHERE stats_dttm = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL - 7 DAY), '%Y%m%d')
		GROUP BY MEDIA_SCRIPT_NO, FRME_CODE
		HAVING SUM(click_cnt) = 0 AND SUM(PAR_EPRS_CNT) > 30000
		ORDER BY SUM(PAR_EPRS_CNT);
	</select>
	
	<select id="selectRebuildConversionMonitor" resultType="Map">
		/* Conversion Monitor : 컨버전 헬스체크용 */
		SELECT REG_USER_ID, DATE_FORMAT(REG_DTTM,'%Y%m%d%H%i%s')REG_DTTM, CASE WHEN DIFF>10 THEN 'DELAY' ELSE 'OK' END CHK
		FROM (
			SELECT REG_USER_ID, MAX(REG_DTTM)REG_DTTM, NOW() NOW, TIMESTAMPDIFF(MINUTE, MAX(REG_DTTM), NOW()) DIFF
			FROM dreamsearch.MOB_ADVER_CHRG_LOG 
			WHERE YYYYMMDD BETWEEN DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY),'%Y%m%d') AND DATE_FORMAT(NOW(),'%Y%m%d') GROUP BY REG_USER_ID
		)A
	</select>
	
	<select id="selectUserCtgrMonitor" resultType="Map">
		select USER_ID, CASE WHEN COUNT(1)>1 THEN 'ALARM' END ALARM
		FROM dreamsearch.MOB_CTGR_USER_INFO GROUP BY USER_ID HAVING COUNT(1)>1
	</select>
	
	
	<select id="selectChkingZeroViewClickConv" resultType="Map">
		/* 현시간 VIEW, CLICK, CONV 데이터 */
		SELECT AA.*, ifnull(BB.CNT,0)CNT FROM (
			SELECT * FROM (
				SELECT '00' STATS_HH UNION ALL SELECT '01' STATS_HH UNION ALL SELECT '02' STATS_HH UNION ALL SELECT '03' STATS_HH UNION ALL SELECT '04' STATS_HH UNION ALL
				SELECT '05' STATS_HH UNION ALL SELECT '06' STATS_HH UNION ALL SELECT '07' STATS_HH UNION ALL SELECT '08' STATS_HH UNION ALL SELECT '09' STATS_HH UNION ALL
				SELECT '10' STATS_HH UNION ALL SELECT '11' STATS_HH UNION ALL SELECT '12' STATS_HH UNION ALL SELECT '13' STATS_HH UNION ALL SELECT '14' STATS_HH UNION ALL
				SELECT '15' STATS_HH UNION ALL SELECT '16' STATS_HH UNION ALL SELECT '17' STATS_HH UNION ALL SELECT '18' STATS_HH UNION ALL SELECT '19' STATS_HH UNION ALL
				SELECT '20' STATS_HH UNION ALL SELECT '21' STATS_HH UNION ALL SELECT '22' STATS_HH UNION ALL SELECT '23' STATS_HH
			)A, (
				SELECT 'VIEW' GG UNION ALL SELECT 'CLICK' GG UNION ALL SELECT 'AMT' GG UNION ALL SELECT 'CONV' GG 
			)B
		) AA LEFT JOIN (
			select 'CONV' GG, STATS_HH , IFNULL(SUM(CNT),0)CNT FROM (
				SELECT STATS_HH , SUM(ORDER_CNT) CNT FROM MOB_CNVRS_RENEW_HH_STATS WHERE STATS_DTTM =DATE_FORMAT(NOW(),'%Y%m%d')
				GROUP BY STATS_HH
			) B
			group by STATS_HH
			UNION ALL
			select 'VIEW' GG, STATS_HH , IFNULL(SUM(CNT),0)CNT FROM (
				SELECT STATS_HH , SUM(TOT_EPRS_CNT) CNT FROM MOB_ADVER_HH_STATS WHERE STATS_DTTM =DATE_FORMAT(NOW(),'%Y%m%d')
				GROUP BY STATS_HH
			) B 
			group by STATS_HH
			UNION ALL
			select 'CLICK' GG, STATS_HH , IFNULL(SUM(CNT),0)CNT FROM (
				SELECT STATS_HH , SUM(CLICK_CNT) CNT FROM MOB_ADVER_HH_STATS WHERE STATS_DTTM =DATE_FORMAT(NOW(),'%Y%m%d')
				GROUP BY STATS_HH
			) B 
			group by STATS_HH
			UNION ALL
			select 'AMT' GG, STATS_HH , IFNULL(SUM(CNT),0)CNT FROM (
				SELECT STATS_HH , SUM(ADVRTS_AMT) CNT FROM MOB_ADVER_HH_STATS WHERE STATS_DTTM =DATE_FORMAT(NOW(),'%Y%m%d')
				GROUP BY STATS_HH
			) B 
			group by STATS_HH
		) BB
		ON AA.STATS_HH=BB.STATS_HH AND AA.GG=BB.GG
		WHERE AA.STATS_HH=DATE_FORMAT(NOW(),'%H')
	</select>

	<select id="selectEmptyAdverId" resultType="Map">
		SELECT
			'INVALID ADVER_ID' AS TOPIC,
			CASE
				WHEN COUNT(1) <![CDATA[>]]> 0 THEN 'true'
				ELSE 'false'
				END AS CHK,
			COUNT(1) AS MSG
		FROM BILLING.MOB_ADVER_STATS
		WHERE ADVER_ID = ''
		  	AND STATS_DTTM = DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%Y%m%d')
		;
	</select>

	<select id="selectInvalidItlTpCodeForKakao" resultType="Map">
		SELECT
			'INVALID ITL_TP_CODE FOR KAKAO' AS TOPIC,
			CASE
				WHEN COUNT(1) <![CDATA[>]]> 0 THEN 'true'
				ELSE 'false'
				END AS CHK,
			COUNT(1) AS MSG
		FROM BILLING.MOB_MEDIA_SCRIPT_STATS
		WHERE MEDIA_ID IN ('kakao','mkakao')
			AND STATS_DTTM = DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%Y%m%d')
			AND ITL_TP_CODE != '03'
		;
	</select>

	<select id="selectInvalidPerformanceAd" resultType="Map">
		SELECT
			'INVALID PERFORMANCE_AD' AS TOPIC,
			CASE
				WHEN COUNT(1) <![CDATA[>]]> 0 THEN 'true'
				ELSE 'false'
				END AS CHK,
			COUNT(1) AS MSG
		FROM BILLING.MOB_COM_STATS_INFO
		WHERE STATS_DTTM = DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%Y%m%d')
			AND ADVRTS_PRDT_CODE != '09'
			AND ADVRTS_TP_CODE = '56'
		;
	</select>

	<select id="selectInvalidEmptyValue" resultType="Map">
		SELECT
			'INVALID EMPTY VALUE' AS TOPIC,
			CASE
				WHEN COUNT(1) <![CDATA[>]]> 0 THEN 'true'
				ELSE 'false'
				END AS CHK,
			COUNT(1) AS MSG
		FROM BILLING.MOB_CAMP_MEDIA_HH_STATS
		WHERE STATS_DTTM = DATE_FORMAT(DATE_SUB(NOW(), INTERVAL 1 DAY), '%Y%m%d')
			AND STATS_HH = '99'
			AND ITL_TP_CODE = '99'
			AND TOT_EPRS_CNT = 0
			AND CLICK_CNT = 0
			AND ADVRTS_AMT = 0;
	</select>

</mapper>

