<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hHtoDDMediaChrgMapper">

	<select id="sql_select_mod_date_dd" resultType="Map">
		/* MOB_CAMP_MEDIA_HH_STATS : NEW STATS_ALT_DT */
		SELECT
			DISTINCT STATS_DTTM
		FROM BILLING.MOB_CAMP_MEDIA_HH_STATS A
		WHERE STATS_ALT_DT BETWEEN CONCAT(DATE_FORMAT(NOW(),'%Y%m%d%H'),'00')
			AND CONCAT(DATE_FORMAT(NOW(),'%Y%m%d%H'),'59')
		ORDER BY STATS_DTTM DESC;
	</select>
	
	<select id="sql_SELECT_COM_CODE" resultType="Map" parameterType="Map">
		/* MOBON_COM_CODE : COMCODE */
		SELECT
			code_id as ADVRTS_TP_CODE, code_val
		FROM dreamsearch.MOBON_COM_CODE
		WHERE CODE_TP_ID = 'ADVRTS_TP_CODE'
		ORDER BY code_id;
	</select>
	<select id="sql_dd_select_tp_code_count" resultType="Map">
		/* MOB_MEDIA_SCRIPT_CHRG_STATS : LIST advrtsTpCode count */
		SELECT
			A.STATS_DTTM, A.ADVRTS_TP_CODE, COUNT(*) AS TP_CODE_COUNT
		FROM BILLING.MOB_MEDIA_SCRIPT_CHRG_STATS A
		WHERE A.STATS_DTTM =${STATS_DTTM}
			AND A.ADVRTS_TP_CODE =#{ADVRTS_TP_CODE}
		GROUP BY A.STATS_DTTM, A.ADVRTS_TP_CODE;
	</select>
	
	
	
	<insert id="sql_CREATE_DD_TABLE">
		/* MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP : dump tmptable */
		DROP TABLE IF EXISTS BILLING_TEMP.MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP;
		CREATE TEMPORARY TABLE IF NOT EXISTS BILLING_TEMP.MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP
			SELECT
				*
			FROM BILLING.MOB_MEDIA_SCRIPT_CHRG_STATS
			LIMIT 0,0;
	</insert>
	<update id="sql_dropDDTempTable">
		DROP TABLE IF EXISTS BILLING_TEMP.MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP;
	</update>
	
	
	
	
	<insert id="sql_INSERT_MEDIASCRIPT_CHRG_TEMP" parameterType="Map">
		/* MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP : insert tmptable */
		INSERT INTO BILLING_TEMP.MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP
			SELECT
				STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, MEDIA_SCRIPT_NO, ITL_TP_CODE
				, MEDIA_TP_CODE, IFNULL(MEDIA_ID,'-') AS MEDIA_ID
				
				, TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, MEDIA_PYMNT_AMT
				, TRGT_EPRS_CNT, TRGT_PAR_EPRS_CNT, TRGT_CLICK_CNT, TRGT_ADVRTS_AMT
				, REG_USER_ID, REG_DTTM, ALT_USER_ID, ALT_DTTM
				
			FROM BILLING.MOB_MEDIA_SCRIPT_CHRG_STATS A
			WHERE STATS_DTTM =${STATS_DTTM}
				AND ADVRTS_TP_CODE =#{ADVRTS_TP_CODE}
			LIMIT ${START_POINT}, ${END_POINT};
	</insert>
	<update id="sql_INSERT_MEDIA_CHRG_TEMP" parameterType="Map">
		/* MOB_MEDIA_CHRG_STATS : insert tmptable TO mediaChrgStats */
		INSERT INTO BILLING.MOB_MEDIA_CHRG_STATS(
			STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, MEDIA_ID, ITL_TP_CODE
				, TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, MEDIA_PYMNT_AMT
				, TRGT_EPRS_CNT, TRGT_PAR_EPRS_CNT, TRGT_CLICK_CNT, TRGT_ADVRTS_AMT
				, REG_USER_ID, REG_DTTM, ALT_USER_ID, ALT_DTTM
			)
				SELECT
					*
				FROM (
					SELECT
						STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, MEDIA_ID, ITL_TP_CODE
						, SUM(TOT_EPRS_CNT)TOT_EPRS_CNT, SUM(PAR_EPRS_CNT)PAR_EPRS_CNT, SUM(CLICK_CNT)CLICK_CNT, SUM(ADVRTS_AMT)ADVRTS_AMT, SUM(MEDIA_PYMNT_AMT)MEDIA_PYMNT_AMT
						, SUM(TRGT_EPRS_CNT)TRGT_EPRS_CNT, SUM(TRGT_PAR_EPRS_CNT)TRGT_PAR_EPRS_CNT, SUM(TRGT_CLICK_CNT)TRGT_CLICK_CNT, SUM(TRGT_ADVRTS_AMT)TRGT_ADVRTS_AMT
						, REG_USER_ID, REG_DTTM, ALT_USER_ID, ALT_DTTM
					FROM BILLING_TEMP.MOB_MEDIA_SCRIPT_CHRG_STATS_TEMP
					WHERE STATS_DTTM =${STATS_DTTM}
						AND ADVRTS_TP_CODE = #{ADVRTS_TP_CODE}
					GROUP BY STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, MEDIA_ID, ITL_TP_CODE
					LIMIT ${START_POINT}, ${END_POINT}
				) S
		ON DUPLICATE KEY UPDATE
			MOB_MEDIA_CHRG_STATS.TOT_EPRS_CNT = S.TOT_EPRS_CNT
			, MOB_MEDIA_CHRG_STATS.PAR_EPRS_CNT = S.PAR_EPRS_CNT
			, MOB_MEDIA_CHRG_STATS.CLICK_CNT = S.CLICK_CNT
			, MOB_MEDIA_CHRG_STATS.ADVRTS_AMT = S.ADVRTS_AMT
			, MOB_MEDIA_CHRG_STATS.MEDIA_PYMNT_AMT = S.MEDIA_PYMNT_AMT
			, MOB_MEDIA_CHRG_STATS.TRGT_EPRS_CNT = S.TRGT_EPRS_CNT
			, MOB_MEDIA_CHRG_STATS.TRGT_PAR_EPRS_CNT = S.TRGT_PAR_EPRS_CNT
			, MOB_MEDIA_CHRG_STATS.TRGT_CLICK_CNT = S.TRGT_CLICK_CNT
			, MOB_MEDIA_CHRG_STATS.TRGT_ADVRTS_AMT = S.TRGT_ADVRTS_AMT
			, MOB_MEDIA_CHRG_STATS.ALT_USER_ID ='BATCH'
			, MOB_MEDIA_CHRG_STATS.ALT_DTTM = NOW()
		;
	</update>
	
</mapper>