<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hhtoMigrationhhMapper">

	<update id="DELETE_CAMPMEDIA_STATS" parameterType="Map">
		DELETE FROM BILLING.MOB_CAMP_MEDIA_HH_STATS 	WHERE STATS_DTTM = #{STATS_DTTM} AND STATS_HH='99' AND ADVRTS_TP_CODE='AD';
	</update>
	<update id="DELETE_CAMP_STATS" parameterType="Map">
		DELETE FROM BILLING.MOB_CAMP_HH_STATS 			WHERE STATS_DTTM = #{STATS_DTTM} AND STATS_HH='99' AND ADVRTS_TP_CODE='AD';
	</update>
	<update id="DELETE_ADVERMEDIA_STATS" parameterType="Map">
		DELETE FROM BILLING.MOB_ADVER_MEDIA_HH_STATS 	WHERE STATS_DTTM = #{STATS_DTTM} AND STATS_HH='99' AND ADVRTS_TP_CODE='AD';
	</update>
	<update id="DELETE_ADVER_STATS" parameterType="Map">
		DELETE FROM BILLING.MOB_ADVER_HH_STATS 			WHERE STATS_DTTM = #{STATS_DTTM} AND STATS_HH='99' AND ADVRTS_TP_CODE='AD';
	</update>
	<update id="DELETE_MEDIASCRIPT_STATS" parameterType="Map">
		DELETE FROM BILLING.MOB_MEDIA_SCRIPT_HH_STATS 	WHERE STATS_DTTM = #{STATS_DTTM} AND STATS_HH='99' AND ADVRTS_TP_CODE='AD';
	</update>
	<update id="DELETE_CAMPMEDIA2_STATS" parameterType="Map">
		DELETE FROM BILLING.MOB_CAMP_MEDIA_STATS 		WHERE STATS_DTTM = #{STATS_DTTM} AND ADVRTS_TP_CODE='AD';
	</update>
	
	
	<insert id="INSERT_BEFORE_MOB_MEDIA_PAR_WK_STATS" parameterType="Map">
		INSERT INTO BILLING.MOB_MEDIA_PAR_WK_STATS (
		STATS_DTTM, STATS_YTH, STATS_WK, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, MEDIA_PAR_NO, ITL_TP_CODE, MEDIA_TP_CODE, MEDIA_ID,
		TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, REG_USER_ID
	) 
		SELECT * FROM(
			SELECT 
			MEDIASCRIPTSTATS.STATS_DTTM,
			MEDIASCRIPTSTATS.STATS_YTH, 
			MEDIASCRIPTSTATS.STATS_WK, 
			MEDIASCRIPTSTATS.PLTFOM_TP_CODE,
			MEDIASCRIPTSTATS.ADVRTS_PRDT_CODE,
			MEDIASCRIPTSTATS.ADVRTS_TP_CODE,
			MEDIASCRIPTSTATS.MEDIA_PAR_NO,
			MEDIASCRIPTSTATS.ITL_TP_CODE,
			MEDIASCRIPTSTATS.MEDIA_TP_CODE,
			MEDIASCRIPTSTATS.MEDIA_ID,
			SUM(MEDIASCRIPTSTATS.TOT_EPRS_CNT) AS TOT_EPRS_CNT,
			SUM(MEDIASCRIPTSTATS.PAR_EPRS_CNT) AS PAR_EPRS_CNT,
			SUM(MEDIASCRIPTSTATS.CLICK_CNT) AS CLICK_CNT,
			SUM(MEDIASCRIPTSTATS.ADVRTS_AMT) AS ADVRTS_AMT,
			MEDIASCRIPTSTATS.REG_USER_ID
			FROM (
				SELECT CONCAT(DATE_FORMAT(REG_DTTM,'%Y%m'),'01') AS STATS_DTTM ,DATE_FORMAT(STATS_DTTM,'%Y%m') AS STATS_YTH, WEEKOFYEAR(STATS_DTTM) AS STATS_WK,  
				PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, MEDIA_SCRIPT_NO AS MEDIA_PAR_NO, ITL_TP_CODE, 
				MEDIA_TP_CODE, MEDIA_ID, TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT, REG_USER_ID, REG_DTTM 
				FROM BILLING.MOB_MEDIA_SCRIPT_STATS
				WHERE STATS_DTTM BETWEEN (SELECT  DATE_FORMAT(IF(WEEKDAY(DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK)) = 0,
											 DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK),
											 DATE_SUB(DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK),
											 INTERVAL (WEEKDAY(DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK))) DAY))
											 ,'%Y%m%d')
				) AND (SELECT  DATE_FORMAT(IF(WEEKDAY(DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK)) = 6,
								      DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK),
								      DATE_ADD(DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK),
								      INTERVAL (6 - WEEKDAY(DATE_SUB(NOW(), INTERVAL #{intervalDay} WEEK))) DAY)),'%Y%m%d'))
				) MEDIASCRIPTSTATS
			GROUP BY STATS_YTH, STATS_WK, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, MEDIA_ID, ITL_TP_CODE, MEDIA_PAR_NO, ADVRTS_TP_CODE
		) RESULT
	ON DUPLICATE KEY UPDATE 
		BILLING.MOB_MEDIA_PAR_WK_STATS.TOT_EPRS_CNT 		= RESULT.TOT_EPRS_CNT 
		,BILLING.MOB_MEDIA_PAR_WK_STATS.PAR_EPRS_CNT 		= RESULT.PAR_EPRS_CNT 			
		,BILLING.MOB_MEDIA_PAR_WK_STATS.CLICK_CNT 		= RESULT.CLICK_CNT
		,BILLING.MOB_MEDIA_PAR_WK_STATS.ADVRTS_AMT 		= RESULT.ADVRTS_AMT		
	</insert>
</mapper>