<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hHtoDDAddtionMapper">

	<update id="updateMEDIA_SCRIPT_STD_HIST">
		/* MEDIA_SCRIPT_STD_HIST : MEDIA_SCRIPT_STD_HIST */
		insert into BILLING.MEDIA_SCRIPT_STD_HIST
			(STATS_DTTM, SCRIPT_CNT,ROAS)
			select * from(
				SELECT DATE_FORMAT(CURRENT_DATE(), "%Y%m%d") AS STATS_DTTM
					, COUNT(MS.MEDIA_SCRIPT_NO) AS SCRIPT_CNT
					, ROUND((100 * (SUM(CS.ORDER_AMT) / SUM(MS.ADVRTS_AMT))), 0) AS ROAS
					FROM
					(SELECT mmss.MEDIA_SCRIPT_NO
						, SUM(IF(mmss.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mmss.PAR_EPRS_CNT, 0)) AS EPRS_CNT
						, SUM(IF(mmss.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mmss.CLICK_CNT, 0)) AS CLICK_CNT
						, SUM(IF(mmss.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mmss.ADVRTS_AMT, 0)) AS ADVRTS_AMT
						FROM BILLING.MOB_MEDIA_SCRIPT_STATS mmss
						WHERE mmss.STATS_DTTM BETWEEN DATE_FORMAT(CURRENT_DATE() - INTERVAL 90 DAY, "%Y%m%d") AND DATE_FORMAT(CURRENT_DATE() - INTERVAL 1 DAY, "%Y%m%d")
							AND mmss.ADVRTS_PRDT_CODE IN ('01', '07')
							AND mmss.ITL_TP_CODE = '01'
						GROUP BY mmss.MEDIA_SCRIPT_NO
						HAVING EPRS_CNT != 0
							AND CLICK_CNT >= 1000
							AND ADVRTS_AMT >= 50000) AS MS
					JOIN
					(SELECT mcrn.PAR_NO
						, SUM(IF(mcrn.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mcrn.ORDER_CNT, 0)) AS ORDER_CNT
						, SUM(IF(mcrn.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mcrn.ORDER_AMT, 0)) AS ORDER_AMT
						FROM BILLING.MOB_CNVRS_RENEW_NCL mcrn
						WHERE mcrn.STATS_DTTM BETWEEN DATE_FORMAT(CURRENT_DATE() - INTERVAL 90 DAY, "%Y%m%d") AND DATE_FORMAT(CURRENT_DATE() - INTERVAL 1 DAY, "%Y%m%d")
							AND mcrn.ADVRTS_PRDT_CODE IN ('01', '07')
							AND mcrn.ITL_TP_CODE = '01'
							AND mcrn.ORDER_AMT >= 0
							AND mcrn.ORDER_AMT between 0 and 10000000
						GROUP BY mcrn.PAR_NO
						HAVING ORDER_CNT >= 50) AS CS
					ON MS.MEDIA_SCRIPT_NO = CS.PAR_NO
			) SRC
			ON DUPLICATE KEY update
				SCRIPT_CNT=SRC.SCRIPT_CNT,ROAS=SRC.ROAS
		;
	</update>
	
	
	<update id="updateMEDIA_RANK_WEIGHT_HIST">
		/* MEDIA_RANK_WEIGHT_HIST : MEDIA_RANK_WEIGHT_HIST */
		insert into BILLING.MEDIA_RANK_WEIGHT_HIST
			(STATS_DTTM,MEDIA_SCRIPT_NO,PCVRS,ERPIS,SCORE,SCRIPT_RANK,CPC_WEIGHT)
			select * from (
				SELECT DATE_FORMAT(CURRENT_DATE(), "%Y%m%d") AS STATS_DTTM
					, ALL_SCRIPT.`no` AS MEDIA_SCRIPT_NO
					, STD.PCVRS
					, STD.ERPIS
					, STD.SCORE
					, CASE
						WHEN STD.SCORE IS NULL THEN 11
						WHEN STD.SCORE > 0.9 THEN 1
						WHEN STD.SCORE > 0.8 THEN 2
						WHEN STD.SCORE > 0.7 THEN 3
						WHEN STD.SCORE > 0.6 THEN 4
						WHEN STD.SCORE > 0.5 THEN 5
						WHEN STD.SCORE > 0.4 THEN 6
						WHEN STD.SCORE > 0.3 THEN 7
						WHEN STD.SCORE > 0.2 THEN 8
						WHEN STD.SCORE > 0.1 THEN 9
						ELSE 10
						END AS SCRIPT_RANK
					, IFNULL(ROUND(STD.ROAS / (STD.TOTAL_ORDER_AMT / STD.TOTAL_ADVRTS_AMT), 3), 1.000) AS CPC_WEIGHT 
					FROM
					(SELECT `no`
						FROM dreamsearch.media_script ms
						LEFT JOIN (SELECT DISTINCT MEDIA_SCRIPT_NO
										FROM BILLING.MOB_MEDIA_SCRIPT_STATS
										WHERE STATS_DTTM BETWEEN DATE_FORMAT(CURRENT_DATE() - INTERVAL 90 DAY, "%Y%m%d") AND DATE_FORMAT(CURRENT_DATE() - INTERVAL 1 DAY, "%Y%m%d")) mss
							ON ms.`no` = mss.MEDIA_SCRIPT_NO
						WHERE mss.MEDIA_SCRIPT_NO IS NOT NULL) AS ALL_SCRIPT
					LEFT JOIN
					(SELECT DATE_FORMAT(CURRENT_DATE(), "%Y%m%d") AS STATS_DTTM
							, MS.MEDIA_SCRIPT_NO
							, MS.EPRS_CNT
							, MS.CLICK_CNT
							, MS.ADVRTS_AMT
							, SUM(MS.ADVRTS_AMT) OVER (PARTITION BY STATS_DTTM) AS TOTAL_ADVRTS_AMT
							, CS.ORDER_CNT
							, CS.ORDER_AMT
							, SUM(CS.ORDER_AMT) OVER (PARTITION BY STATS_DTTM) AS TOTAL_ORDER_AMT
							, (CS.ORDER_CNT / MS.CLICK_CNT) AS PCVR
							, (CS.ORDER_AMT / MS.CLICK_CNT) AS ERPI
							, (CS.ORDER_AMT / MS.ADVRTS_AMT) AS ROAS
							, ROUND(PERCENT_RANK()  OVER (PARTITION BY STATS_DTTM ORDER BY PCVR), 3) AS PCVRS
							, ROUND(PERCENT_RANK() OVER (PARTITION BY STATS_DTTM ORDER BY ERPI), 3) AS ERPIS
							, ROUND((PERCENT_RANK()  OVER (PARTITION BY STATS_DTTM ORDER BY PCVR) + PERCENT_RANK() OVER (PARTITION BY STATS_DTTM ORDER BY ERPI)) / 2, 3) AS SCORE
							FROM
							(SELECT mmss.MEDIA_SCRIPT_NO
								, SUM(IF(mmss.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mmss.PAR_EPRS_CNT, 0)) AS EPRS_CNT
								, SUM(IF(mmss.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mmss.CLICK_CNT, 0)) AS CLICK_CNT
								, SUM(IF(mmss.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mmss.ADVRTS_AMT, 0)) AS ADVRTS_AMT
								, SUM(mmss.ADVRTS_AMT) AS TOT_ADVRTS_AMT
								FROM BILLING.MOB_MEDIA_SCRIPT_STATS mmss
						 		WHERE mmss.STATS_DTTM BETWEEN DATE_FORMAT(CURRENT_DATE() - INTERVAL 90 DAY, "%Y%m%d") AND DATE_FORMAT(CURRENT_DATE() - INTERVAL 1 DAY, "%Y%m%d")
									AND mmss.ADVRTS_PRDT_CODE IN ('01', '07')
									AND mmss.ITL_TP_CODE = '01'
								GROUP BY mmss.MEDIA_SCRIPT_NO
								HAVING EPRS_CNT != 0
									AND CLICK_CNT >= 1000
									AND ADVRTS_AMT >= 50000) AS MS
							JOIN
							(SELECT mcrn.PAR_NO
								, SUM(IF(mcrn.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mcrn.ORDER_CNT, 0)) AS ORDER_CNT
								, SUM(IF(mcrn.ADVRTS_TP_CODE IN ('04','10','16','17','34','37','40','41','42','47','49','50','54', '56', '57'), mcrn.ORDER_AMT, 0)) AS ORDER_AMT
								FROM BILLING.MOB_CNVRS_RENEW_NCL mcrn
						 		WHERE mcrn.STATS_DTTM BETWEEN DATE_FORMAT(CURRENT_DATE() - INTERVAL 90 DAY, "%Y%m%d") AND DATE_FORMAT(CURRENT_DATE() - INTERVAL 1 DAY, "%Y%m%d")
									AND mcrn.ADVRTS_PRDT_CODE IN ('01', '07')
									AND mcrn.ITL_TP_CODE = '01'
									AND mcrn.ORDER_AMT >= 0
									AND mcrn.ORDER_AMT between 0 and 10000000
								GROUP BY mcrn.PAR_NO
								HAVING ORDER_CNT >= 50) AS CS
							ON MS.MEDIA_SCRIPT_NO = CS.PAR_NO
							ORDER BY MS.TOT_ADVRTS_AMT DESC) AS STD
						ON ALL_SCRIPT.`no` = STD.MEDIA_SCRIPT_NO
			)SRC
			ON DUPLICATE KEY update
				PCVRS=SRC.PCVRS	,ERPIS=SRC.ERPIS	,SCORE=SRC.SCORE	,SCRIPT_RANK=SRC.SCRIPT_RANK	,CPC_WEIGHT=SRC.CPC_WEIGHT
		;
	</update>
	
</mapper>