<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="selectMapper">
	<cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>

	<select id="selectNow" resultType="hMap" >
		SELECT NOW() NOW
	</select>
	
	<select id="selectGroupKey" resultType="sampleVo" useCache="true">
		SELECT b.CODE_VAL adGubun, c.CODE_VAL seq
		FROM (
			SELECT a.CODE_ID, a.CODE_VAL FROM dreamsearch.MOBON_COM_CODE a WHERE a.CODE_TP_ID='ADVRTS_TP_CODE'
		)b, (
			SELECT CODE_VAL-1 CODE_VAL FROM dreamsearch.MOBON_COM_CODE a WHERE a.CODE_TP_ID='HH_TP_CODE' AND CODE_VAL BETWEEN 1 AND 10
		)c
	</select>
	
	
</mapper>
