<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<appender name="dailyRollingDebug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/log4j/kafka-consumer.debuglog.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log4j/kafka-consumer.debuglog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>1</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="dailyRollingInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/log4j/kafka-consumer.infolog.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log4j/kafka-consumer.infolog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="dailyRollingError" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/log4j/kafka-consumer.errorlog.log</File>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/log4j/kafka-consumer.errorlog.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5p][%d{yyyy-MM-dd HH:mm:ss}] [%thread] %C{1} [%L] %m %n</pattern>
		</encoder>
    </appender>

	<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>localhost:5044</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
	</appender>

    <logger name="com.mobon" level="info" />
<!--     <logger name="com.zaxxer.hikari" level="debug" /> -->
    <logger name="com.mobon.dao" level="OFF" />
    <logger name="org.springframework.kafka" level="off" />
    <logger name="org.apache.kafka" level="off" />
    <logger name="net.sf.json" level="OFF" />
 
    <root level="info">
        <appender-ref ref="dailyRollingDebug" />
        <appender-ref ref="dailyRollingInfo" />
        <appender-ref ref="dailyRollingError" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="stash" />
    </root>

</configuration>
