<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sampleVoMapper">

	<select id="selectNOW" resultType="java.lang.String">
		SELECT now() now
	</select>

	<update id="insertCAMP_MEDIA">
INSERT INTO MOB_CAMP_MEDIA_STATS
		(STATS_DTTM, PLTFOM_TP_CODE, ADVRTS_PRDT_CODE, ADVRTS_TP_CODE, SITE_CODE, MEDIA_SCRIPT_NO, ITL_TP_CODE
			, TOT_EPRS_CNT, PAR_EPRS_CNT, CLICK_CNT, ADVRTS_AMT
			, TRGT_EPRS_CNT, TRGT_PAR_EPRS_CNT, TRGT_CLICK_CNT, TRGT_ADVRTS_AMT
			, REG_USER_ID, REG_DTTM, ADVER_ID, MEDIA_ID)
		VALUES
			<foreach item="I" collection="list" separator=" , ">
			(${I.yyyymmdd}, SUBSTR(#{I.platform},1,2), SUBSTR(#{I.product},1,2), #{I.adGubun}, #{I.siteCode}, #{I.scriptNo}, #{I.interlock}
				, #{I.viewCnt}, #{I.viewCnt2}, #{I.clickCnt}, #{I.point}
				, <choose><when test="I.adGubun=='04' or I.adGubun=='10' or I.adGubun=='16' or I.adGubun=='17' or I.adGubun=='34'">#{I.viewCnt}</when><otherwise>0</otherwise></choose>
				, <choose><when test="I.adGubun=='04' or I.adGubun=='10' or I.adGubun=='16' or I.adGubun=='17' or I.adGubun=='34'">#{I.viewCnt3}</when><otherwise>0</otherwise></choose>
				, <choose><when test="I.adGubun=='04' or I.adGubun=='10' or I.adGubun=='16' or I.adGubun=='17' or I.adGubun=='34'">#{I.clickCnt}</when><otherwise>0</otherwise></choose>
				, <choose><when test="I.adGubun=='04' or I.adGubun=='10' or I.adGubun=='16' or I.adGubun=='17' or I.adGubun=='34'">#{I.point}</when><otherwise>0</otherwise></choose>
				, 'BATCH', NOW(), #{I.advertiserId}, #{I.scriptUserId})
			</foreach>
		ON DUPLICATE KEY UPDATE
			TOT_EPRS_CNT=TOT_EPRS_CNT+VALUES(TOT_EPRS_CNT), PAR_EPRS_CNT=PAR_EPRS_CNT+VALUES(PAR_EPRS_CNT), CLICK_CNT=CLICK_CNT+VALUES(CLICK_CNT), ADVRTS_AMT=ADVRTS_AMT+VALUES(ADVRTS_AMT)
			, TRGT_EPRS_CNT=TRGT_EPRS_CNT+VALUES(TRGT_EPRS_CNT), TRGT_PAR_EPRS_CNT=TRGT_PAR_EPRS_CNT+VALUES(TRGT_PAR_EPRS_CNT), TRGT_CLICK_CNT=TRGT_CLICK_CNT+VALUES(TRGT_CLICK_CNT), TRGT_ADVRTS_AMT=TRGT_ADVRTS_AMT+VALUES(TRGT_ADVRTS_AMT)
			, ALT_USER_ID='BATCH', ALT_DTTM=NOW();
	</update>
</mapper>

